<div class="dropdown-card" id="notificationsDropdown" hidden>
    <div class="dropdown-head">
        <h4>Notifications</h4>
        <a href="#">Mark all read</a>
    </div>
    <ul class="dropdown-list">
        <li><strong>Mismatch Alert</strong><span>3 blocking fields found in CMP-1001</span></li>
        <li><strong>Export Ready</strong><span>Submission #42 export is available</span></li>
        <li><strong>Security</strong><span>Password policy updated</span></li>
    </ul>
</div>
