@{
    var name = User.Identity?.Name ?? "User";
}
<div class="dropdown-card profile-dropdown" id="profileDropdown" role="menu" hidden>
    <div class="dropdown-head profile-head">
        <div>
            <h4>@name</h4>
            <p>Enterprise Operator</p>
        </div>
    </div>
    <ul class="dropdown-list">
        <li><a asp-controller="Profile" asp-action="ChangePassword" role="menuitem">Profile Settings</a></li>
    </ul>
</div>
